<div *ngIf="customQuestions.length > 0">
  <div *ngFor="let customQuestion of customQuestions">
    <span class="row">{{customQuestion.question}}</span>
    <div class="row">
      <button *ngFor="let answer of customQuestion?.answers" (click)="selectAnswer(customQuestion.question, answer)"
              [ngClass]="{isSelected: !isSubmitted && isAnswerSelected(customQuestion, answer),
              isCorrect: isSubmitted && isAnswerCorrect(customQuestion, answer),
              isFalse: isSubmitted && isAnswerSelected(customQuestion, answer) && !isAnswerCorrect(customQuestion, answer)}">
        {{answer}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="isSubmitButtonVisible()" class="row">
  <button id="submit" (click)="submitQuiz()">Submit</button>
</div>

<div *ngIf="isSubmitted">
  <span>You scored {{getNumberOfCorrectAnswers()}} / {{customQuestions?.length}}.</span>
</div>
