.isSelected, .canHover:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
}

button:disabled {
    cursor: not-allowed;
}

.isCorrect {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}

.isFalse {
    background-color: lightcoral;
    border: 1px solid lightcoral;
}

.score {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.change-btn {
    background-color: grey;
    border: 1px solid grey;
}
