.isSelected, .canHover:hover {
    background-color: grey;
    border: grey;
}

button:disabled {
    opacity: 70%;
    cursor: not-allowed;
}

.isCorrect {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}

.isFalse {
    background-color: lightcoral;
    border: 1px solid lightcoral;
}

.score {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
